<h1>seem</h1>
<span>学生</span>
<%= link_to "新規登録", new_student_registration_path %> |
<%= link_to "ログイン", new_student_session_path %>
<span>人事担当</span>
<%= link_to "新規登録", new_company_registration_path %> |
<%= link_to "ログイン", new_company_session_path %>