<div class="container">
	<header>	
		<p class="head_title">seem</p>
		<p class="head_item">
			<%= link_to "学生検索", students_path %>
			<%= link_to "ログアウト", destroy_company_session_path, method: :delete %>
		</p>
	</header>
	<div class="main_profiel">
		<p class="user_name"><%= current_company.company_name %></p>
		<p class="chat_room"><%= link_to "Let's Talk", 'rooms/show' %></p>
	</div>
</div>